body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Calibri';
  background-color: #0c0c0c;
}

section {
  height : 100%;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 6.5rem;
  padding-bottom: 7.5rem;
height: auto;
}

.content-section .container {
  max-width: 90%;
  width : 80%
}

.content-section-heading h2 {
  /* font-family: 'STARWARS'; */
  /* font-family: 'Saira Extra Condensed'; */
  font-family : 'Calibri';
  text-transform: uppercase;
  color : #312d2d;
  letter-spacing: 8px;
}

.light-back{
  color:#0c0c0c!important;
}

.content-section-heading h3 {
  /* font-family: 'STARWARS'; */
  /* font-family: 'Saira Extra Condensed'; */
  font-family : 'Calibri';
  font-size: 1rem;
  text-transform: uppercase;
}

.checked
{
    color : orange;
}

.skillText{
  float : left
}

.skill{
  margin-top: 1em;
  margin-bottom: 1em;
}

.skillContainer{
  padding-left : 5%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {

  position: fixed;
  left: 20%;
  bottom: 0;
  display: none;
  width: 60%;
  height: 50px;
  padding-top: 10px;
  text-align: center;
  color: white;
  /* background: #343a4008!important */
  background-color: #0c0c0c!important;
    box-shadow: -1px 1px 10px 2px #989595;
  line-height: 45px;
  z-index : 999;
}

.footName{
  font-size : 1.5em;
  font-family: 'Calibri';
  font-weight: 100;
  text-transform:uppercase;
  letter-spacing: 4px;
}

.rounded{
  border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {

  text-decoration: none;

}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 100vh;
  position: relative;
  display: table;
  color: #e0ecec;
  width: 100%;
  height: 100%
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("../img/bg-masthead2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead a {
  position: absolute;
bottom: 15%;
transform: translateX(-50%);
}

.masthead h1 {
  /* font-family: 'STARWARS'; */
  font-family: 'Saira Extra Condensed';
font-family : 'Calibri';
  margin: 0;
  padding: 0;
  text-transform: uppercase;
letter-spacing: 12px;
  /* -webkit-text-stroke : 0.5px yellow;
  -webkit-text-fill-color:transparent; */
}

.masthead h3 {
  color : #8d8d8d;
  font-size: 3em;
  letter-spacing: 12px;
      font-weight: 100;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 6.0rem;
  }
}

.navbar {
  height : 8vh;
  z-index : 999;
  top : -8vh;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

ul.navi{
  width : 100%;
}

.nav-link{
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-weight:bolder;
  font-size : 1em;
  color : #e0ecec;
  margin-left:20px;
  margin-right:20px;
}

.nav-item{
      /* margin-left: 14%; */
}

@media (min-width:992px){
  .nav-link{
        font-size: 1.5em;
  }
}

.sticky{
  background: #0c0c0c;
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  box-shadow: -1px 4px 10px 3px #989595;
  -webkit-box-pack: none !important;
    -ms-flex-pack: none !important;
    justify-content: none  !important;
}

.scrollDown {
  /* position: absolute; */
  margin: 0 auto;
  width: 55px;
  height: 107px;
}

.chevron {
  position: absolute;
  margin: 0 auto;
  width: 55px;
  height: 9px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.scrollText {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
    width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #004085;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    max-height: 370px;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }

  .portfolio-item:hover .caption {
    background-color: rgba(64, 78, 82, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption .caption-content{
    color : white;
  }
}

.about-sec{
padding-left: 24%;
}
footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #6b6b6b;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #252525 !important;
}

.bg-dark {
    background-color: #f6f6f6 !important;
}
.bg-light {
    background-color: #ffffff !important;
}

.bg-tertiary {
  background-color: #E5E5E5 !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}

.skills-card{
  background: white;
width: 100%;
margin: auto;
height: 500px;
overflow: hidden;
border-radius: 22px;
    box-shadow: 2px 1px 4px 2px #848080;
transition: all 0.1s ease-in-out 0s;
-moz-transition: all 0.1s ease-in-out 0s;
-webkit-transition: all 0.1s ease-in-out 0s;
-o-transition: all 0.1s ease-in-out 0s;
}
.skills-card:hover{
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
box-shadow : 2px 5px 4px 2px #848080;
}

.skills-image{
  width : 100%;
}

.skills-desc{
  float: left;
  margin: 5%;
  color : black;
}

.skills-desc h4{
      font-size: 22px;
}

.skills-desc p{
  font-size: 16px;
}


.banner-head{
  height : 60vh;
}


/*Carousel*/
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -166px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -166px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  min-height : 100px;
  height: auto;
}
/* End carousel */

.item .duration {
    border-left: none;
    margin: 0;
}

.item{
  font-size: 17.5px;
  color : black;
}

.item h2,h4{
  text-transform: uppercase;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
